$white: #fff;
$black: #000;

$primary-orange: #FF7417;
$secondary-blue: #004BA8;
$highlight-maroon: #69140E;

$secondary-box-shadow: rgba(0, 75, 168, .88);

$wrapper-width: 80%;
$section-padding: 5rem;

$about-section-height: 500px;
$resume-item-min-height: 350px;