@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.skill-badge {
  color: $secondary-blue;
  border: 1px solid transparent;
  transition: 0.3s;
  @include flexThis(center, center, column);
  width: 7rem;
  margin: 0 .5rem;
  cursor: pointer;
  
  svg {
    font-size: 5rem;
  }
  
  svg {
    transition: 0.3s;
  }

}

.skill-badge-caption {
  transition: height 300ms 0ms, opacity 300ms 300ms, color  300ms, 300ms;
  opacity: 1;
  height: 1rem;
}

.skill-badge-caption--hide {
  transition: height 300ms 300ms, opacity 300ms 0ms, color 300ms, 300ms;
  opacity: 0.0;
  height: 0rem;
}

.skill-badge:hover {
  transform: scale(1.1);
}

.skill-badge--selected {
  transform: scale(1.1);
}

.skill-badge--selected:hover {
  transform: scale(1);

}

.skill-badge--all {
  color: $highlight-maroon !important;
}

$shake-distance: 10px;

.horizontal-shake {
  -webkit-animation: horizontal-shake-animation 5s infinite; /* Safari 4+ */
  -moz-animation:    horizontal-shake-animation 5s infinite; /* Fx 5+ */
  -o-animation:      horizontal-shake-animation 5s infinite; /* Opera 12+ */
  animation:         horizontal-shake-animation 5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes horizontal-shake-animation {
  0%   { transform: translateX($shake-distance) }
  20%  { transform: translateX(-$shake-distance) }
  40%  { transform: translateX($shake-distance) }
  60%  { transform: translateX(-$shake-distance) }
  70% { transform: translateX(0)}
};
@-moz-keyframes horizontal-shake-animation {
  0%   { transform: translateX($shake-distance) }
  20%  { transform: translateX(-$shake-distance) }
  40%  { transform: translateX($shake-distance) }
  60%  { transform: translateX(-$shake-distance) }
  70% { transform: translateX(0)}
};
@-o-keyframes horizontal-shake-animation {
  0%   { transform: translateX($shake-distance) }
  20%  { transform: translateX(-$shake-distance) }
  40%  { transform: translateX($shake-distance) }
  60%  { transform: translateX(-$shake-distance) }
  70% { transform: translateX(0)}
};
@keyframes horizontal-shake-animation {
  0%   { transform: translateX($shake-distance) }
  20%  { transform: translateX(-$shake-distance) }
  40%  { transform: translateX($shake-distance) }
  60%  { transform: translateX(-$shake-distance) }
  70% { transform: translateX(0)}
};