@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#skills {
  @include flexThis(center, center, column);
  width: $wrapper-width;
  margin-bottom: $section-padding;
  background-color: $primary-orange;
  background-image: url("/images/asfalt-light.png");
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  -moz-box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  padding: 3rem 5rem;

  h2 {
    width: 100%;
    margin-bottom: 1.3rem;
    font-size: 1.8rem;
  }
};

#progress-container {
  z-index: 999;
  width: 100%;
};

.skill-badge-container {
  width: 100%;
  @include flexThis(space-between, center, row);
  min-height: 9rem;
};

.resume-link {
  transition: 300ms;
  height: 1.5rem;
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  color: $highlight-maroon;
  padding: .7rem 0;
  visibility: hidden;
};

.resume-link:hover {
  color: $secondary-blue;
};

.resume-link--visible {
  visibility: visible;
};