@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#skills {
  @include flexThis(center, center, column);
  width: $wrapper-width;
  margin-bottom: $section-padding;
  background-color: $primary-orange;
  background-image: url("/images/asfalt-light.png");
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  -moz-box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  box-shadow: 0px 0px 42px -10px $secondary-box-shadow;
  padding: 3rem 5rem;

  h2 {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
}

.skill-badge-container {
  width: 100%;
  @include flexThis(space-between, center, row);
  min-height: 9rem;
}

.resume-link {
  transition: height 300ms 300ms, opacity 300ms 0ms, color 300ms, 300ms, padding 300ms, 300ms;
  opacity: 0.0;
  height: 0rem;
  margin: 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: right;
  padding: 0;
  color: $highlight-maroon;
  border-top: 3px solid $highlight-maroon;
}

.resume-link:hover {
  color: $secondary-blue;
  border-top: 3px solid $secondary-blue;
}

.resume-link--visible {
  padding: .7rem 0;
  transition: height 300ms 0ms, opacity 300ms 300ms, color  300ms, 300ms, padding 300ms, 300ms;
  opacity: 1;
  height: 1.5rem;
}