@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#about {
  @include flexThis(space-between, center, row);
  width: $wrapper-width;
  padding-top: 10vh;
}

.aboutKendall {
  width: 50%;
  height: 500px;
}