@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#about {
  @include flexThis(space-between, center, row);
  width: $wrapper-width;
  padding: $section-padding 0;
}

.about-kendall {
  width: 55%;
  height: $about-section-height;
}