@import "styles/variables.scss";
@import "styles/mixins.scss";

.App {
  @include flexThis(flex-start, center, column);
  width: 100%;
}

header {
  background-image: url("/images/sunset-background.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding-top: 3rem;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $black;
  opacity: .4;
}

.header-container {
  position: absolute;
  top: 30%;
  right: 20%;
  text-align: right;
  z-index: 1000;
  
  h1 {
    font-size: 4rem;
    color: $primary-orange;
  }

  h2 {
    font-size: 1.8rem;
  }
}

